.register {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    min-height: 100vh;
    display: flex;
}

.regis-form {
    height: 28vh;
    width: 25vw;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 3%;
    margin-top: 20vh;
}

.waiting {
    min-height: 100vh;
}
#roomList {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%) !important;
}

.game-room {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    min-height: 100vh;
}

.btn {
    color: black;
}
.rooms {
    background-color: rgba(0,0,0,0.4) !important;
}
.player-avatar {
    height: 7vh;
    width: 4vw;
}
.player-name {
    font-family: 'Karla', sans-serif;
    margin-top: 1rem;
}
.button-create {
    height: 6vh;
}

.button-modal-create {

}